<%- include("partials/header.ejs") %>

<div class="tite">
    <h1 class="playwrite-sk-title">Welcome to "The Blog Post"</h1>
    <p class="com">"Where you record your thoughts"</p>
</div>

<%- include("partials/footer.ejs") %>